/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Passion One", serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

:root {
  --bg-color: #eaf3f4e3;
  --main-blue-color: #011428fb;
}

.container {
  width: 100%;
  overflow-x: hidden;
}

.section-heading {
  font-size: 10rem;
  text-transform: uppercase;
  color: var(--main-blue-color);
  letter-spacing: .5rem;
  text-align: center;
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #b0bcc1;
  opacity: 1;
  margin-right: 1rem;
  transition: letter-spacing 0.3s ease; /* Add transition for smooth letter-spacing change */
  
}

.section-heading:hover {
  letter-spacing: 0.6rem;
}

/* End of Common Styles */

/* Navbar - Bigger Screens Only */
.navbar {
  --fade-animation: fadeAnimation 2s .5s forwards;
  --pulse-animation: pulseAnimation 4s .5s forwards;
  position: relative;
  z-index: 20;
  top: 4rem;
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  text-shadow: .1rem .1rem .2rem #000000, -.1rem -.1rem .2rem #000000;
  animation-name: fadeAnimation, pulseAnimation, diagonalShake;
  animation-duration: 2s, 4s, .75s;
  animation-iteration-count: .5s, .5s, .5s;
  animation-delay: 4s;
  animation-fill-mode: forwards, forwards, forwards;
}

.navbar-link {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.3rem #000000;
  width: 1.5rem;
  text-align: center;
  transition: all .2s;
  text-transform: uppercase;
}

.navbar-link:hover{
background-color: #ffffff1f;
transition: all 1s;
letter-spacing: 0.5rem;
animation: diagonalShake 0.75s ease;
text-decoration: underline;
text-underline-offset: 1rem;
text-shadow: 0.3rem 0.3rem 0.3rem #000000;
}

@keyframes diagonalShake {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(-2.5px, -2.5px); }
  75% { transform: translate(2.5px, 2.5px),; }
}
/* End of Navbar */


/* Menu - Hidden For Bigger Desktop Sizes */
.hamburger-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right .7s;
  display: none;
}

.change .hamburger-menu {
  right: 14rem;
  top: 2.5rem;
  position: fixed;
}

.line {
  width: 100%;
  height: .2rem;
  background-color: var(--main-blue-color);
  box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
}

.change .line {
  background-color: var(--main-blue-color);
}

.change .line-1 {
  transform: rotate(45deg) translate(.3rem, .8rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hid den;
}

.change .line-3 {
  transform: rotate(-45deg) translate(.3rem, -.8rem);
}

.hamburger-menu span {
  position: absolute;
  left: 0;
  width: 10rem;
  height: 4rem;
  padding-right: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-blue-color);
  font-family: "Passion One", serif;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}

.change .hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu span::before {
  content: "";
  position: absolute;
  top: 5%;
  transform: translateY(-150%);
}
/* End of Menu - Hidden For Bigger Desktop Sizes */


/* Sidebar - Hidden For Bigger Desktop Sizes */
.sidebar {
  width: 40rem;
  height: 100Vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: white;
  transition: right .5s;
  z-index: 600;
  display: none;
}

.change .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
}

.menu-link {
  font-family: "Passion One", serif;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  color: var(--main-blue-color);
  position: relative;
  margin-bottom: 4rem;
}

.menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: #07a5a5;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width .3s ease-in-out;
}

.menu-link:hover::before {
  width: 100%;
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.social-media i {
  font-size: 2rem;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--main-blue-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: box-shadow 0.3s;
  border: none;
}

.social-media i:hover {
  box-shadow: .2rem .2rem .2rem #07a5a5;
}
/* End of Sidebar - Hidden For Bigger Desktop Sizes */


/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  position: relative;
}

.floating-bg {
  width: 150vw;
  height: 155vw;
  background: linear-gradient(to right, #091844, var(--main-blue-color));
  position: absolute;
  top: -125vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  animation: rotate 30s infinite;
}

.floating-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #06397039;
  position: absolute;
  top: 0;
  left: 0;
  border-radius:40%;
  animation: rotate 30s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.section-1-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: auto;
}


.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1-heading {
  --fade-animation: fadeAnimation 2s .5s forwards;
  --pulse-animation: pulseAnimation 4s .5s forwards;
  --diagonal-animation: diagonalShake 0.75s ease;

  font-size: 19rem;
  font-family: "Passion One", serif;
  letter-spacing: .4rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000000;
  color: #fff;
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  opacity: 0;
  margin-right: 1rem;
  animation-name: fadeAnimation, pulseAnimation, diagonalShake;
  animation-duration: 2s, 4s, 0.75s;
  animation-iteration-count: .5s, .5s, .5s;
  animation-delay: 2s;
  animation-fill-mode: forwards, forwards, forwards;
  transition: letter-spacing 0.3s ease; /* Add transition for smooth letter-spacing change */
}



.section-1-heading:hover {
  letter-spacing: 0.5rem;
  animation: var(--fade-animation), var(--pulse-animation), diagonalShake 0.75s ease;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes pulseAnimation {
  0% {
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(7, 7, 19, 0);
    visibility: hidden;
  }
  25% {
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(7, 7, 19, 0.217);
    visibility: visible;
  }
  50% {
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(7, 7, 19, 0.477);
    visibility: visible;
  }
  75% {
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(7, 7, 19, 0.712);
    visibility: visible;
  }
  100% {
    text-shadow: 0.45rem 0.45rem 0.45rem rgba(7, 7, 19, 1);
    visibility: visible;
  }
}

@keyframes pulseParagraphAnimation {
  0% {
    text-shadow: 0rem 0rem 0rem rgba(7, 7, 19,  0);
    visibility: hidden;
  }
  25% {
    text-shadow: 0.05rem 0.05rem 0.05rem rgba(7, 7, 19, 0.217);
    visibility: visible;
  }
  50% {
    text-shadow: 0.07rem 0.07rem 0.07rem rgba(7, 7, 19,  0.477);
    visibility: visible;
  }
  75% {
    text-shadow: 0.09rem 0.09rem 0.09rem rgba(7, 7, 19,  0.712);
    visibility: visible;
  }
  100% {
    text-shadow: 0.3rem 0.3rem rgba(07, 7, 19, 1);
    visibility: visible;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  --fade-animation: fadeAnimation 2s .5s forwards;
  --pulse-animation: pulseAnimation 4s .5s forwards;
  --diagonal-animation: diagonalShake 0.75s ease;

  font-size: 18rem;
  color: #fffffffb;
  opacity: 0;
  text-shadow: .1rem .1rem .2rem #000000, -.1rem -.1rem .2rem #000000;
  animation-name: fadeAnimation, pulseAnimation, diagonalShake;
  animation-duration: 2s, 4s, .75s;
  animation-iteration-count: .5s, .5s, .5s;
  animation-delay: 2s;
  animation-fill-mode: forwards, forwards, forwards;
}

.section-1-paragraph {
  --fade-animation: fadeAnimation 2s .5s forwards;
  --pulse-animation: pulseAnimation 4s .5s forwards;
  --diagonal-animation: diagonalShake 0.75s ease;
  font-size: 4.5rem;
  color: #fffffffb;
  opacity: 0;
  text-shadow: .1rem .1rem .2rem #000000, -.1rem -.1rem .2rem #000000; 
  animation-name: fadeAnimation, pulseAnimation, diagonalShake;
  animation-duration: 2s, 4s, .75s;
  animation-iteration-count: .5s, .5s, .5s;
  animation-delay: 3s;
  animation-fill-mode: forwards, forwards, forwards;
}
/* End of Section 1 */


/* Section 2 */
.section-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10rem;
  background-color: var(--bg-color);
}

.customers-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.customer {
  width: 35rem;
  height: 50rem;
  background-color: #fffeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  transition: box-shadow .5s;
}

.customer:hover {
  box-shadow: 3rem 3rem 4rem #ddd, -3rem -3rem 4rem #eee;
  animation: diagonalShake 0.75s ease;
}

.customer:first-child {
  align-self: flex-end;
}

.customer:last-child {
  align-self: flex-start;
}

.fa-quote-left {
  font-size: 4rem;
  color: #07a5a5;
}

.customer-text {
  font-size: 1.8rem;
  margin: 2.5rem 0;
  text-align: justify;
}

.customer-text::first-letter {
  margin-left: 1rem;
}

.customer-rating i {
  font-size: 2rem;
  color: #07a5a5;
} 

.customer-img {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  margin: 2rem 0;
  border-radius: 50%;
}

.customer-name {
  font-size: 3rem;
  font-weight: 700;
}
/* End of Section 2 */

#171718
/* Section 3 */
  .section-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 0;
  }

  .team-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
  }

  .team-member {
    width: 35rem;
    background-color: #fffeee;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
    position: relative;
    border-radius: 2rem;
    opacity: 0.8;
  }

  .team-member:hover {
    opacity: 1;
    animation: diagonalShake 0.75s ease;
  }

  .team-member:first-child {
    align-self: flex-start;
  }

  .team-member:last-child {
    align-self: flex-end;
  }

  .team-member-img {
    width: 100%;
    border-radius: 2rem;
  }

  .team-member-name {
    font-size: 2.3rem;
    font-weight: 700;
    color: #07a5a5;
    margin-top: 2rem;
  }

  .team-member-name span {
    font-size: 1.7rem;
  }

  .team-member-skills {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
  }

  .team-member-skills li {
    font-size: 1.5rem;
    color: #222121;
  }

  .projects-btn {
    background-color: #07a5a5;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }

  .story-btn {
    width: 4rem;
    height: 4rem;
    background-color: #222;
    position: absolute;
    top: -1rem;
    right: -1rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    padding: 0.7rem;
    cursor: pointer;
    z-index: 50;
    transition: transform .5s;

  }

  .change.story-btn {
    transform: rotate(405deg);
  }

  .story-btn-line {
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
  }

  .story {
    width: 100%;
    height: 100%;
    background-color: #07a5a5ed;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    transform: scale(0);
    transform-origin: top right;
    border-radius: 50rem 0 50rem 50rem;
    transition: all .5s;
   }

   .change.story {
    transform: scale(1);
    border-radius: 0;
   }

   .story-heading {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
   }

   .story-paragraph {
    font-size: 1.8rem;
    color: #eee;
    text-align: justify;
    letter-spacing: 0.1rem;
    text-indent: 2rem;
   }
/* End of Section 3 */


/* Section 4 */
.section-4 {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-container {
  width: 80%;
  height: 40%;
  background-color: #e5e9ff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: .3rem .3rem .4rem #ccc, -.1rem -.1rem .4rem #ccc;
  border-radius: .5rem;
  perspective: 100rem;
}

.form-img {
  width: 55rem;
  background-color: #063970fb;
  padding: 5rem;
  opacity: .8;
  box-shadow: -3rem 3rem 4rem #aaa;
  border-radius: .5rem;
  transform: rotateY(20deg);
  transition: all .5s;
}

.form-img:hover {
  transform: translateY(-2rem) rotateY(20deg);
  box-shadow: -5rem 5rem 7rem #aaa;
}

.contact-form {
  width: 45rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: .5rem;
  box-shadow: 3rem 3rem 4rem #aaa;
  transform: rotateY(-20deg);
  transition: all .5s;
}

.contact-form:hover {
  transform: translateY(-2rem) rotateY(-20deg);
  box-shadow: 5rem 5rem 7rem #aaa;
}

.contact-form input, 
.contact-form textarea {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: inset .05rem .05rem .1rem #a09f9f, inset -.05rem -.05rem 1rem #a09f9f;
}

.contact-form textarea {
  max-height: 15rem;
  min-height: 10rem;
  max-width: 100%;
  min-width: 70%;
}

.contact-form input[type="submit"] {
  background-color: #063970fb;
  color: #fff;
  font-weight: 300;
  letter-spacing: .35rem;
  cursor: pointer;
  transition: background-color .5s;
}

.contact-form input[type="submit"]:hover {
  background-color: #07a5a5;
}

.copyright {
  font-size: 2rem;
  letter-spacing: .2rem;
  color: #444;
  margin-top: 5rem;
}
/* End Section 4 */


/* Scroll Up Button */
.scroll-up-btn {
  --fade-animation: fadeAnimation 2s .5s forwards;
  --pulse-animation: pulseAnimation 4s .5s forwards;
  --diagonal-animation: diagonalShake 0.75s ease;
  width: 5rem;
  height: 5rem;
  background-color: var(--main-blue-color);
  text-shadow: 0.3rem 0.3rem 0.3rem #000000;
  box-shadow: 0.3rem 0.3rem 0.3rem #000000;
  border: none;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  border-radius: 50%;
  font-size: 1.6rem;
  opacity: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s;
  animation-name: fadeAnimation, pulseAnimation, diagonalShake;
  animation-duration: 2s, 4s, .75s;
  animation-iteration-count: .5s, .5s, .5s;
  animation-delay: 4s;
  animation-fill-mode: forwards, forwards, forwards;
}

.scroll-up-btn:hover {
  background-color: #07a5a5;
}
/* Scroll Up Button */







/* Responsive */
@media (max-width: 1700px){
  .floating-bg {
    top: -115vw;
  }
 
  .section-1-heading {
    font-size: 15rem;
  }

  .logo i {
    font-size: 12rem;
  }
}

@media (max-width:1400px) {
  .floating-bg {
    top: -120vw;
  }

  .navbar-link {
    font-size: 2rem;
  }

  .logo i {
    font-size: 8rem;
  }

  .section-1-paragraph {
    font-size: 3.5rem;
  }

  .section-heading {
    font-size: 10rem;
    margin-bottom: 1rem;
  }

  .section-2 {
    height: auto;
  }

  .customers-wrapper {
    flex-wrap: wrap;
  }

  .customer {
    margin: 5rem 10rem;
  }

  .section-3 {
    height: auto;
  }

  .team-wrapper {
    flex-wrap: wrap;
  }

  .team-member {
    margin: 5rem 10rem;
  }

  .form-container {
    height: 60%;
  }

  .form-img {
    display: none;
  }

  .contact-form {
    transform: translateY(0);
  }

  .contact-form:hover {
    transform: translateY(-1rem);
  }

  .copyright {
    margin: 5rem 0 4rem 0;
  }
}

@media (max-width:1151px) {
  .floating-bg {
    top: -120vw;
  }

  .section-1-heading {
    font-size: 9rem;
  }

  .logo i {
    font-size: 8rem;
  }
}

@media (max-width: 951px) {
  .floating-bg {
    top: -115vw;
  }

  .section-1-heading {
    top: 20vw;
  }

 .navbar {
   justify-content: space-around;
  }

    .navbar {
      display: none;
    }
    
    .hamburger-menu {
      width: 3rem;
      height: 3rem;
      position: fixed;
      top: 2.5rem;
      right: 3.5rem;
      z-index: 500;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      cursor: pointer;
      transition: right .7s;
    }
    
    .hamburger-menu span {
      position: absolute;
      left: 5rem;
      width: 5rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--main-blue-color);
      font-family: "Passion One", serif;
      font-size: 1rem;
      letter-spacing: .1rem;
      opacity: 0;
      visibility: hidden;
      transition: all .2s;
    }
    
    .sidebar {
      width: 20rem;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -20rem;
      background-color: white;
      opacity: .9;
      transition: right .5s;
      z-index: 100;
      display: block;
    }
    
    .change .sidebar {
      right: 0;
    }
}

@media (max-width: 750px) {
  .html {
    font-size: 48%;
  }

  .section-1-heading {
    top: 20vw;
  }

  .section-heading {
    margin-bottom: 5rem;
  }
}

@media (max-width: 551px) {
  .html {
    font-size: 45%;
  }
  
  .floating-bg {
    top: -105vw;
  }

  .section-1-heading {
    font-size: 4.5rem;
    margin-right: 0rem;
  }

  .section-heading {
    font-size: 6rem;
  }

  .logo i {
    font-size: 4rem;
  }

  .section-1-paragraph {
    font-size: 2rem;
  }

  .customer {
    margin: 5rem 0;
  }

  .team-member {
    margin: 5rem 0;
  }

  .section-4 {
    height: auto;
  }

  .form-container {
    background-color: transparent;
    box-shadow: none;
  }

  .contact-form {
    box-shadow: 1rem 1rem 2rem #aaa;
  }

  .contact-form:hover {
    box-shadow: 2rem 2rem 3rem #aaa;
  }

  .copyright {
    font-size: 1.8rem;
    margin: 5rem;
    text-align: center;
  }

  .scroll-up-btn {
    bottom: 2rem;
    right: 2rem;
  }
}

@media (max-width: 390px) {
  .html {
    font-size: 40%;
  }
  
  .floating-bg {
    top: -70vw;
  }

  .section-1-heading {
    font-size: 4rem;
    margin-right: 0;
  }

  .section-heading {
    font-size: 5rem;
    padding-bottom: -5rem;
  }

  .logo i {
    font-size: 3rem;
  }

  .section-1-paragraph {
    text-wrap: nowrap;
  }

  .customer {
    margin: 2rem 5rem;;
  }

  .team-member {
    margin: 2rem 5rem;
  }

  .copyright {
    font-size: 1.5rem;
    margin: 4rem;
    text-align: center;
  }

  .scroll-up-btn {
    bottom: 1.5rem;
    right: 1.5rem;
    width: 8%;
    height: 8%;
  }

  .hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    top: 2.5rem;
    right: 3.5rem;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: right .7s;
  }
  
  .hamburger-menu span {
    position: absolute;
    left: 4rem;
    width: .5rem;
    height: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-blue-color);
    font-family: "Passion One", serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
  }
  
  .line {
    background-color: var(--main-blue-color);
  }
  
  .change .line {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .change .line-1 {
    transform: rotate(45deg) translate(.1rem, .8rem);
  }
  
  .change .line-3 {
    transform: rotate(-45deg) translate(.1rem, -.8rem);
  }
}


@media (max-width: 330px) {
  .html {
    font-size: 30%;
  }

  .team-wrapper {
    flex-wrap: wrap;
  }

  .team-member {
    margin: 2rem 2rem;
  }
}

@media (max-width: 300px) {
  .section-1-heading {
    font-size: 3rem;
    margin-right: 0;
  }

  .section-heading {
    font-size: 3rem;
    padding-bottom: 0rem;
  }

  .logo i {
    font-size: 2rem;
  }

  .section-1-paragraph {
    font-size: 1.5rem;
  }

  .customers-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
  }
  
  .customer {
    width: 35rem;
    height: 38rem;
    background-color: #fffeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
    transition: box-shadow .5s;
  }
  
  .customer:hover {
    box-shadow: 3rem 3rem 4rem #ddd, -3rem -3rem 4rem #eee;
    animation: diagonalShake 0.75s ease;
  }
  
  
  .fa-quote-left {
    font-size: 2rem;
  }
  
  .customer-text {
    font-size: 1.3rem;
    margin: 2.5rem 0;
    text-align: justify;
  }
  
  .customer-text::first-letter {
    margin-left: 1rem;
  }
  
  .customer-rating i {
    font-size: 1.5rem;
    color: #07a5a5;
  } 
  
  .customer-img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin: 2rem 0;
    border-radius: 50%;
  }
  
  .customer-name {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .team-wrapper {
    flex-wrap: wrap;
  }

  .team-member {
    margin: 1rem 1.5rem;
  }

  .copyright {
    font-size: 1rem;
  }
}

@media (max-width: 275px) {
  .team-member {
    margin: .6rem .5rem;
  }
}
/* End of Responsive */